<!-- <p>Home Page</p>

<ul>
    <li *ngFor="let product of productList">
        <h2>{{product.name}} / ${{product.price}}</h2>
        <div class="example-flex-container">
            <div class="example-button-container">
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                    -
                </button>
            </div>
           
            <div class="example-button-container">
                <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
                    +
                </button>
            </div>
        </div>
    </li>
</ul> -->

<div class="container">
    <app-product-list></app-product-list>
</div>