.slider{
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/img-home/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  animation: slide 15s infinite;
}

@keyframes slide{
  33%{
    background-image: url(../../../assets/img-home/1.png);
  }

 33%{
    background-image: url(../../../assets/img-home/2.png);
  }

  33%{
    background-image: url(../../../assets/img-home/3.png);
  }
}

