
.container{
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  flex-direction: column;
  align-items: center;
}
.imformation{
  width: 50%;
  border: 1px solid #000000;
}

p{
  margin-left: 35%;
  font-size: 25px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.inf-order{
  width: 30%;
  border: 1px solid #000000;
  margin-right: 5%;
}

.inf-order p{
  font-size: 16px;
  font-weight: 300;

  font-family: Arial, Helvetica, sans-serif;
}
.btn-order{
  width: 100%;
  height: 20%;
  background-color: #ea8025;
  color: white;

}
 h4{
  font-weight: 300;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5%;
  padding: 4%;
}
