mat-toolbar {
  height: 5rem;
  background-color: white;
}

mat-toolbar-row {
  height: 100%;
}

a {
  text-decoration: none;
}

button :focus {
  outline: none;
  background: none;
  border: none;
}

button {
  background: none;
  border: none;
  outline: none;

}

.nav-bar-container {
  padding: 0 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar-left {
  width: 20%;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-bar-right {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

a {
  text-decoration: white;
}
